:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(223 222 255 / 87%);
  background-color: #1d2131;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --form-control-color: #7950f2;
  --form-control-disabled: #62627b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 50px 0 0;
  display: flex;
  place-items: top;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  color: rgb(255 255 255 / 87%);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #7950f2;
  cursor: pointer;
  transition: border-color 0.25s;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: rgb(255 255 255 / 87%);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #7950f2;
  cursor: pointer;
  transition: border-color 0.25s;
}

.center-button-container {
  display: flex;
  justify-content: center;
}

button:hover {
  transition: background-color 0.25s;
  border-color: #6644cd;
  background-color: #6644cd;
}

.card {
  padding: 2em;
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  vertical-align: top;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  padding: 5px;
}

input {
  font-family: Roboto, sans-serif;
  display: inline;
  font-size: 14px;
  color: #2c3041;
  background-color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.swal-modal {
  background-color: #2c3041;
}

.swal-text, .swal-title {
  color: rgb(223 222 255 / 87%);
}

.swal-button {
  padding: 7px 19px;
  background-color: #7950f2;
  font-size: 12px;
  color: rgb(255 255 255 / 87%);
  border: 1px solid transparent;
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.day-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #2c3041;
  border-radius: 10px;
  font-weight: bold;
}

.habit-item span {
  flex-grow: 1;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  padding: 20px;
  font: inherit;
  color: currentcolor;
  width: 60px;
  height: 60px;
  border: 0.15em solid #464665;
  border-radius: 10px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.45em;
  height: 1.45em;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 2em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  background: repeating-linear-gradient(
    45deg,
    #37374d,
    #37374d 5px,
    #464665 5px,
    #464665 10px
  );
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

@media (width <= 768px) {
  .habit-item-container {
    font-size: 12px;
    margin: 0 0 10px;
    gap: 5px;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .habit-title button {
    margin-right: 5px;
  }

  .habit-item {
    margin: 10px;
    gap: 10px;
    padding: 10px;
  }

  .day-checkbox {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    background: repeating-linear-gradient(
      45deg,
      #37374d,
      #37374d 5px,
      #464665 5px,
      #464665 10px
    );
    color: var(--form-control-disabled);
    cursor: not-allowed;
    height: 30px;
    width: 30px;
  }
}